<%= error_messages_for 'svn_auth' %>
<p>
	<label style="display: block"><%= l(:field_path) %>:</label>
	<%= select(:svn_authz, :svn_directory_id, @directories.collect{|i| [i.path, i.id]}) %>
	<label style="display: block"><%= l(:field_user) %>:</label>
	<%= select(:svn_authz, :user_id, @users.collect{|i| [i.firstname + ' ' + i.lastname, i.id]}) %>
	<label style="display: block"><%= l(:field_readable) %>:</label>
	<%= check_box(:svn_authz, "readable") %>
	<label style="display: block"><%= l(:field_writable) %>:</label>
	<%= check_box(:svn_authz, "writable") %>
</p>