<h2><%= l(:label_svn_authzs)%></h2>

<div class="splitcontentright" style="width: 30%">
    <fieldset>
    <legend><%= l(:label_path_new)%></legend>
    <% form_for :svn_directory, nil, {:url => '/svn_directories/new/' + @project.identifier} do |form| %>
        <%= render :partial => 'form_svn_directory', :locals => {:form => form}%>
        <%= form.submit l(:button_create) %>
    <% end %>
    </fieldset>
    <fieldset>
    <legend><%= l(:label_authz_add)%></legend>
    <% form_for :svn_authz, nil, {:url => '/svn_authzs/new/' + @project.identifier} do |form| %>
        <%= render :partial => 'form_svn_authz', :locals => {:form => form}%>
        <%= form.submit l(:button_add) %>
    <% end %>
    </fieldset>
</div>


<div class="splitcontentleft" style="width: 68%">
    <h3><%= l(:label_svn_authz_info)%></h3>
    <% if(@directories.blank?) %>
        <p class="nodata"><%= l(:label_no_data)%></p>
    <% else %>
        <% @directories.each do |directory| %>
		<p>
	        <table class="list">
	            <caption>[<%=h directory.path %>]</caption>
	            <thead>
					<th><%= l(:label_svn_member)%></th>
					<th><%= l(:label_svn_read) %></th>
					<th><%= l(:label_svn_write) %></th>
				</thead>
	            <tbody>
	                <tr>
						<td>a</td>
						<td>b</td>
						<td>c</td>
					</tr>
	            </tbody>
	        </table>
		</p>
        <% end %>
    <% end %>
</div>